
doctype html
html
  head
    meta(charset='utf-8')
    title Address Book
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Address de Color
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') Faq
        li: a(href='/contact') Contact
        li: a(href='/people') People

    h2 People Page

    each person in people
      .person(style='background-color:#{person.color};')
        
        h3= person.name
        ul
          li: a(href='mailto:#{person.email}')=person.email
          li= person.phone
          li= person.color
          li: a(href=person.website)= person.website
          li= person.zipcode
